<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.tedu.cloudnote.dao.SigninDAO">
	
	<update id="save" parameterType="com.tedu.cloudnote.entity.Admin" >
		INSERT INTO cn_user 
		VALUES 
		(#{cn_user_id},#{cn_user_name},#{cn_user_password},#{cn_user_token},#{cn_user_nick})
		<!-- ('${cn_user_id}','${cn_user_name}','${cn_user_password}','${cn_user_token}','${cn_user_nick}') -->
	</update>
	
</mapper>







